{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "react", "react-hooks", "jsx-a11y"],
  "env": { "browser": true },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true, "impliedStrict": true }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "semi": true,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "react/forbid-prop-types": "off",
    "react/no-array-index-key": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": [0, { "ignore": "children" }],
    "consistent-return": "off",
    "func-names": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "import/resolver": { "webpack": { "config": "webpack.common.js" } }
  }
}
